input{
    height: 25px;
    width: 40%;
    background-color: aqua;
    border-radius: 5px;
}

.submit{
    height: 30px;
    padding-left: 1-px;
    font-size: large;
    
}

button{
    background-color: #222;
    color:white;
    border-radius: 5px;
}