.App {
  text-align: center;
  background-image: linear-gradient(-45deg, red,orange,yellow,green,blue,indigo,violet);
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#gallery{
  background-image: linear-gradient(-45deg, red,orange,yellow,green,blue,indigo,violet);
}
